<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  id="WebApp_ID" version="3.0">

  <display-name>RestRXTomcat</display-name>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>protectedRest</web-resource-name>
      <description>Security constraint</description>
      <url-pattern>/resttest/secure/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description>constraint for protected rest</description>
      <role-name>testuser</role-name>
    </auth-constraint>
    <user-data-constraint>
      <!-- <description>SSL not required</description> -->
      <!-- <transport-guarantee>NONE</transport-guarantee> -->
      <description>SSL required</description>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-role>
    <role-name>testuser</role-name>
  </security-role>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>RestRealm</realm-name>
  </login-config>
</web-app>