<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  id="WebApp_ID" version="3.0">

  <!-- 
    Packaging is described here: 
    https://docs.oracle.com/cd/E24329_01/web.1211/e24983/configure.htm#RESTF187
  -->

  <display-name>RestRXTomcat</display-name>
  <servlet>
    <servlet-name>de.dumischbaenger.RestRXTomcatApplication</servlet-name>

    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>de.dumischbaenger.RestRXTomcatApplication</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>de.dumischbaenger.RestRXTomcatApplication</servlet-name>
    <url-pattern>/webxml/*</url-pattern>
  </servlet-mapping>


  <!-- org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet -->
  <!-- org.apache.cxf.transport.servlet.CXFServlet -->

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>protectedRest</web-resource-name>
      <description>Security constraint</description>
      <url-pattern>/resttest/secure/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description>constraint for protected rest</description>
      <role-name>testuser</role-name>
    </auth-constraint>
    <user-data-constraint>
      <!-- <description>SSL not required</description> -->
      <!-- <transport-guarantee>NONE</transport-guarantee> -->
      <description>SSL required</description>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-role>
    <role-name>testuser</role-name>
  </security-role>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>RestRealm</realm-name>
  </login-config>
</web-app>